name: Node.js CI

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    # Checkout the code
    - uses: actions/checkout@v2
    # Setup Node.js
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    # Install dependencies
    - run: npm install
    # Run test suite
    - run: npm test
